*{
    margin: 0;
}
body{
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
    overflow-x: hidden;
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: Asap, sans-serif;
    color: #000000;
}
.pedra{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #31152f;
    font-size: 45px;
    border-radius: 3px;
}
.pedra:hover{
    background-color: #f1f1f1;
    color: #31152f;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #31152f;
}

nav li:hover{
    font-size: large;
}

nav > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, serif;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

header{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/tftbackground.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 80px;
}
header h1{
    text-shadow: 3px 3px 3px black;
    color:rgb(255, 255, 255);
}

header p{
    margin-bottom: 2em;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;

}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 150px 10px 200px 20px;
    background-color: #1d0c1c;
    color: #FFFFFF;
}
#sobre h2{
    margin-bottom: 10px;
    color:#FFFFFF;
}

#sobre p {
    margin-bottom: -80px;
    max-width: 1000px;
    font-size: 20px;
}
#sobre div{
    margin-top: 80px;
}
#sobre .pedra {
    background-color: #f1f1f1;
    color: #1c1c1c;
}

#composiçoes {
    padding-top: 50px;
    background-color: #31152f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%; 
   
}
#composiçoes h2{
    color: white;
    text-align: center;
    width: 100%;
}
#composiçoes p{
    padding-top: 20px;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;

}

#carroselcomp{
    background-color: #31152f;
}

.slide-container{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.image-slider{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}
.slides-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.img{
    position: relative;
    width: 414px;
    height: 328px;
    transition: .5s;
    filter: saturate(10%);
}

.botao{
    position: absolute;
    width: 414px;
    height: 328px;
    transition: .5s;
    background-color: rgba(0, 0, 0, .1);
}

.botao:hover{
    background-color: rgba(0, 0, 0, .2);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #botao-1{
    width: 464px;
    height: 378px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #botao-2{
    width: 464px;
    height: 378px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #botao-3{
    width: 464px;
    height: 378px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #botao-4{
    width: 464px;
    height: 378px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #botao-5{
    width: 464px;
    height: 378px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span1:target ~ .image-slider #img1,
#slider-span2:target ~ .image-slider #img2,
#slider-span3:target ~ .image-slider #img3,
#slider-span4:target ~ .image-slider #img4,
#slider-span5:target ~ .image-slider #img5 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#slide-span1:target ~ .image-slider {left: -50%;}
#slide-span2:target ~ .image-slider {left: -25%;}

#slide-span4:target ~ .image-slider {left: -25%;}
#slide-span5:target ~ .image-slider {left: -50%;}

#estrategia{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 120px 10px 180px 20px;
    background-color: #31152f;
    color: #FFFFFF;

}
#estrategia h3{
    padding-top: 20px;
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 30px;
}

#estrategia p{
    font-size: 20px;
    text-shadow: 2px 2px 2px black
}



#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2{
    color: #000000;
}

footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}

.aluno{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    list-style-type: none;


}
/* footer{
    text-align:right;
    padding: 10px;
    background-color: #161016;
    color: #FFFFFF;
    padding: 100px 10px 160px 20px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
} */

@media screen and (min-width: 768px){

    nav{
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul{
        flex-direction: row;
        width: 70%;
    }

}

header {
    height: 600px;
    height: 60vh;
    justify-content: center;
}

#sobre{
    height: 250px;
    height: 30vh;
    justify-content: center;
    min-height: 250px;
}



